{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}




<div class="container">
  <div class="row padding_extra">
    <h4>A form to add topics, and related exam: Questions qill fall in these topics; eg algebra, number system and so on.</h4>
  </div>
  <div class="row">

    <div class="col-6">
      <div class="padding_extra">
        Related Exams eg SBI-PO, PRE, Mains
        <form method="POST" class="form-group">
          {% csrf_token %}
          {{ ExamForm|crispy }}
          <button type="submit" class="btn btn-secondary margin_top">Save</button>
        </form>
      </div>
    </div>

    

    <div class="col-4">
      Exam Table

      <ul class="list-group padding_extra">
        {% for exam in examRelated %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ exam.name }}
          <span class="badge badge-secondary badge-pill">{{ exam.level }}</span>
        </li>
        {% endfor %}
      </ul>

    </div>

  </div>

</div>





{% endblock %}
